//! **************************************************************************
// Written by: Map P.20131013 on Wed May 15 15:32:45 2024
//! **************************************************************************

SCHEMATIC START;
COMP "R_Addr_B<0>" LOCATE = SITE "Y8" LEVEL 1;
COMP "which<2>" LOCATE = SITE "M22" LEVEL 1;
COMP "which<1>" LOCATE = SITE "M21" LEVEL 1;
COMP "R_Addr_B<3>" LOCATE = SITE "Y4" LEVEL 1;
COMP "R_Addr_B<4>" LOCATE = SITE "W4" LEVEL 1;
COMP "R_Addr_B<1>" LOCATE = SITE "W7" LEVEL 1;
COMP "R_Addr_B<2>" LOCATE = SITE "Y6" LEVEL 1;
COMP "which<0>" LOCATE = SITE "N22" LEVEL 1;
COMP "rst" LOCATE = SITE "R4" LEVEL 1;
PIN rst_pin<0> = BEL "rst" PINNAME PAD;
PIN "rst_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "clk_RR" LOCATE = SITE "AA4" LEVEL 1;
PIN clk_RR_pin<0> = BEL "clk_RR" PINNAME PAD;
PIN "clk_RR_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "clk_WB" LOCATE = SITE "T5" LEVEL 1;
PIN clk_WB_pin<0> = BEL "clk_WB" PINNAME PAD;
PIN "clk_WB_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "seg<0>" LOCATE = SITE "J21" LEVEL 1;
COMP "seg<1>" LOCATE = SITE "H22" LEVEL 1;
COMP "seg<2>" LOCATE = SITE "H20" LEVEL 1;
COMP "seg<3>" LOCATE = SITE "K21" LEVEL 1;
COMP "seg<4>" LOCATE = SITE "K22" LEVEL 1;
COMP "seg<5>" LOCATE = SITE "J22" LEVEL 1;
COMP "seg<6>" LOCATE = SITE "G20" LEVEL 1;
COMP "seg<7>" LOCATE = SITE "H19" LEVEL 1;
COMP "clk_F" LOCATE = SITE "AB6" LEVEL 1;
PIN clk_F_pin<0> = BEL "clk_F" PINNAME PAD;
PIN "clk_F_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "ALU_OP<0>" LOCATE = SITE "V2" LEVEL 1;
COMP "ALU_OP<2>" LOCATE = SITE "Y1" LEVEL 1;
COMP "ALU_OP<1>" LOCATE = SITE "AA1" LEVEL 1;
COMP "ALU_OP<3>" LOCATE = SITE "W2" LEVEL 1;
COMP "R_Addr_A<0>" LOCATE = SITE "V4" LEVEL 1;
COMP "R_Addr_A<3>" LOCATE = SITE "U3" LEVEL 1;
COMP "R_Addr_A<4>" LOCATE = SITE "T3" LEVEL 1;
COMP "R_Addr_A<1>" LOCATE = SITE "V3" LEVEL 1;
COMP "R_Addr_A<2>" LOCATE = SITE "T4" LEVEL 1;
COMP "FR<0>" LOCATE = SITE "N2" LEVEL 1;
COMP "FR<1>" LOCATE = SITE "P1" LEVEL 1;
COMP "FR<2>" LOCATE = SITE "P2" LEVEL 1;
COMP "FR<3>" LOCATE = SITE "R1" LEVEL 1;
COMP "Out_Sel<0>" LOCATE = SITE "AA8" LEVEL 1;
COMP "clk" LOCATE = SITE "H4" LEVEL 1;
PIN clk_pin<0> = BEL "clk" PINNAME PAD;
PIN "clk_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "Out_Sel<1>" LOCATE = SITE "V8" LEVEL 1;
COMP "W_Addr<0>" LOCATE = SITE "W1" LEVEL 1;
COMP "W_Addr<4>" LOCATE = SITE "Y7" LEVEL 1;
COMP "W_Addr<3>" LOCATE = SITE "T1" LEVEL 1;
COMP "W_Addr<2>" LOCATE = SITE "U1" LEVEL 1;
COMP "W_Addr<1>" LOCATE = SITE "U2" LEVEL 1;
COMP "Reg_Write" LOCATE = SITE "Y2" LEVEL 1;
COMP "enable" LOCATE = SITE "L21" LEVEL 1;
SCHEMATIC END;

