
# PlanAhead Generated physical constraints 

NET "SW[31]" LOC = T3;

# PlanAhead Generated IO constraints 

NET "clk_B" CLOCK_DEDICATED_ROUTE = FALSE;
NET "clk_F" CLOCK_DEDICATED_ROUTE = FALSE;

NET "SW[31]" IOSTANDARD = LVCMOS18;
NET "SW[30]" IOSTANDARD = LVCMOS18;
NET "SW[29]" IOSTANDARD = LVCMOS18;
NET "SW[28]" IOSTANDARD = LVCMOS18;
NET "SW[27]" IOSTANDARD = LVCMOS18;
NET "SW[26]" IOSTANDARD = LVCMOS18;
NET "SW[25]" IOSTANDARD = LVCMOS18;
NET "SW[24]" IOSTANDARD = LVCMOS18;
NET "SW[23]" IOSTANDARD = LVCMOS18;
NET "SW[22]" IOSTANDARD = LVCMOS18;
NET "SW[21]" IOSTANDARD = LVCMOS18;
NET "SW[20]" IOSTANDARD = LVCMOS18;
NET "SW[19]" IOSTANDARD = LVCMOS18;
NET "SW[18]" IOSTANDARD = LVCMOS18;
NET "SW[17]" IOSTANDARD = LVCMOS18;
NET "SW[16]" IOSTANDARD = LVCMOS18;
NET "SW[15]" IOSTANDARD = LVCMOS18;
NET "SW[14]" IOSTANDARD = LVCMOS18;
NET "SW[13]" IOSTANDARD = LVCMOS18;
NET "SW[12]" IOSTANDARD = LVCMOS18;
NET "SW[11]" IOSTANDARD = LVCMOS18;
NET "SW[10]" IOSTANDARD = LVCMOS18;
NET "SW[9]" IOSTANDARD = LVCMOS18;
NET "SW[8]" IOSTANDARD = LVCMOS18;
NET "SW[7]" IOSTANDARD = LVCMOS18;
NET "SW[6]" IOSTANDARD = LVCMOS18;
NET "SW[5]" IOSTANDARD = LVCMOS18;
NET "SW[4]" IOSTANDARD = LVCMOS18;
NET "SW[3]" IOSTANDARD = LVCMOS18;
NET "SW[2]" IOSTANDARD = LVCMOS18;
NET "SW[1]" IOSTANDARD = LVCMOS18;
NET "SW[0]" IOSTANDARD = LVCMOS18;

# PlanAhead Generated physical constraints 

NET "SW[30]" LOC = U3;
NET "SW[29]" LOC = T4;
NET "SW[28]" LOC = V3;
NET "SW[27]" LOC = V4;
NET "SW[26]" LOC = W4;
NET "SW[25]" LOC = Y4;
NET "SW[24]" LOC = Y6;
NET "SW[23]" LOC = W7;
NET "SW[22]" LOC = Y8;
NET "SW[21]" LOC = Y7;
NET "SW[20]" LOC = T1;
NET "SW[19]" LOC = U1;
NET "SW[18]" LOC = U2;
NET "SW[17]" LOC = W1;
NET "SW[16]" LOC = W2;
NET "SW[15]" LOC = Y1;
NET "SW[14]" LOC = AA1;
NET "SW[12]" LOC = Y2;
NET "SW[11]" LOC = AB1;
NET "SW[10]" LOC = AB2;
NET "SW[9]" LOC = AB3;
NET "SW[8]" LOC = AB5;
NET "SW[7]" LOC = AA6;
NET "SW[6]" LOC = R2;
NET "SW[5]" LOC = R3;
NET "SW[4]" LOC = T6;
NET "SW[3]" LOC = R6;
NET "SW[2]" LOC = U7;
NET "SW[1]" LOC = AB7;
NET "SW[0]" LOC = AB8;

# PlanAhead Generated IO constraints 

NET "which[2]" IOSTANDARD = LVCMOS18;
NET "which[1]" IOSTANDARD = LVCMOS18;
NET "which[0]" IOSTANDARD = LVCMOS18;
NET "SW[31]" PULLDOWN;
NET "SW[30]" PULLDOWN;
NET "SW[29]" PULLDOWN;
NET "SW[28]" PULLDOWN;
NET "SW[27]" PULLDOWN;
NET "SW[26]" PULLDOWN;
NET "SW[25]" PULLDOWN;
NET "SW[24]" PULLDOWN;
NET "SW[23]" PULLDOWN;
NET "SW[22]" PULLDOWN;
NET "SW[21]" PULLDOWN;
NET "SW[20]" PULLDOWN;
NET "SW[19]" PULLDOWN;
NET "SW[18]" PULLDOWN;
NET "SW[17]" PULLDOWN;
NET "SW[16]" PULLDOWN;
NET "SW[15]" PULLDOWN;
NET "SW[14]" PULLDOWN;
NET "SW[13]" PULLDOWN;
NET "SW[12]" PULLDOWN;
NET "SW[11]" PULLDOWN;
NET "SW[10]" PULLDOWN;
NET "SW[9]" PULLDOWN;
NET "SW[8]" PULLDOWN;
NET "SW[7]" PULLDOWN;
NET "SW[6]" PULLDOWN;
NET "SW[5]" PULLDOWN;
NET "SW[4]" PULLDOWN;
NET "SW[3]" PULLDOWN;
NET "SW[2]" PULLDOWN;
NET "SW[1]" PULLDOWN;
NET "SW[0]" PULLDOWN;

# PlanAhead Generated physical constraints 

NET "seg[7]" LOC = H19;

# PlanAhead Generated IO constraints 

NET "seg[7]" IOSTANDARD = LVCMOS18;
NET "seg[6]" IOSTANDARD = LVCMOS18;
NET "seg[5]" IOSTANDARD = LVCMOS18;
NET "seg[4]" IOSTANDARD = LVCMOS18;
NET "seg[3]" IOSTANDARD = LVCMOS18;
NET "seg[2]" IOSTANDARD = LVCMOS18;
NET "seg[1]" IOSTANDARD = LVCMOS18;
NET "seg[0]" IOSTANDARD = LVCMOS18;

# PlanAhead Generated physical constraints 

NET "seg[6]" LOC = G20;
NET "seg[5]" LOC = J22;
NET "seg[4]" LOC = K22;
NET "seg[3]" LOC = K21;
NET "seg[2]" LOC = H20;
NET "seg[1]" LOC = H22;
NET "seg[0]" LOC = J21;

# PlanAhead Generated IO constraints 

NET "Out_Sel[1]" IOSTANDARD = LVCMOS18;
NET "Out_Sel[0]" IOSTANDARD = LVCMOS18;
NET "Out_Sel[1]" PULLDOWN;
NET "Out_Sel[0]" PULLDOWN;

# PlanAhead Generated physical constraints 

NET "FR[3]" LOC = R1;
NET "FR[2]" LOC = P2;
NET "FR[1]" LOC = P1;
NET "FR[0]" LOC = N2;

# PlanAhead Generated IO constraints 

NET "FR[3]" IOSTANDARD = LVCMOS18;
NET "FR[2]" IOSTANDARD = LVCMOS18;
NET "FR[1]" IOSTANDARD = LVCMOS18;
NET "FR[0]" IOSTANDARD = LVCMOS18;

# PlanAhead Generated physical constraints 

NET "which[2]" LOC = M22;
NET "which[1]" LOC = M21;
NET "which[0]" LOC = N22;
NET "enable" LOC = L21;

# PlanAhead Generated IO constraints 

NET "clk_20M" IOSTANDARD = LVCMOS18;
NET "clk_A" IOSTANDARD = LVCMOS18;
NET "clk_B" IOSTANDARD = LVCMOS18;
NET "clk_F" IOSTANDARD = LVCMOS18;
NET "enable" IOSTANDARD = LVCMOS18;
NET "rst" IOSTANDARD = LVCMOS18;

# PlanAhead Generated physical constraints 

NET "clk_20M" LOC = H4;

# PlanAhead Generated IO constraints 

NET "clk_20M" PULLDOWN;

# PlanAhead Generated physical constraints 

NET "clk_A" LOC = R4;
NET "clk_B" LOC = AA4;
NET "clk_F" LOC = AB6;
NET "rst" LOC = T5;
NET "SW[13]" LOC = V2;
NET "Out_Sel[1]" LOC = V8;
NET "Out_Sel[0]" LOC = AA8;

# PlanAhead Generated IO constraints 

NET "clk_A" PULLDOWN;
NET "clk_B" PULLDOWN;
NET "clk_F" PULLDOWN;
NET "rst" PULLDOWN;
