//! **************************************************************************
// Written by: Map P.20131013 on Wed Apr 24 22:10:27 2024
//! **************************************************************************

SCHEMATIC START;
COMP "which<2>" LOCATE = SITE "M22" LEVEL 1;
COMP "which<1>" LOCATE = SITE "M21" LEVEL 1;
COMP "which<0>" LOCATE = SITE "N22" LEVEL 1;
COMP "rst" LOCATE = SITE "T5" LEVEL 1;
COMP "clk_20M" LOCATE = SITE "H4" LEVEL 1;
COMP "seg<0>" LOCATE = SITE "J21" LEVEL 1;
COMP "seg<1>" LOCATE = SITE "H22" LEVEL 1;
COMP "seg<2>" LOCATE = SITE "H20" LEVEL 1;
COMP "seg<3>" LOCATE = SITE "K21" LEVEL 1;
COMP "seg<4>" LOCATE = SITE "K22" LEVEL 1;
COMP "seg<5>" LOCATE = SITE "J22" LEVEL 1;
COMP "seg<6>" LOCATE = SITE "G20" LEVEL 1;
COMP "seg<7>" LOCATE = SITE "H19" LEVEL 1;
COMP "clk_A" LOCATE = SITE "R4" LEVEL 1;
COMP "clk_B" LOCATE = SITE "AA4" LEVEL 1;
PIN clk_B_pin<0> = BEL "clk_B" PINNAME PAD;
PIN "clk_B_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "clk_F" LOCATE = SITE "AB6" LEVEL 1;
PIN clk_F_pin<0> = BEL "clk_F" PINNAME PAD;
PIN "clk_F_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "FR<0>" LOCATE = SITE "N2" LEVEL 1;
COMP "FR<1>" LOCATE = SITE "P1" LEVEL 1;
COMP "FR<2>" LOCATE = SITE "P2" LEVEL 1;
COMP "FR<3>" LOCATE = SITE "R1" LEVEL 1;
COMP "Out_Sel<0>" LOCATE = SITE "AA8" LEVEL 1;
COMP "Out_Sel<1>" LOCATE = SITE "V8" LEVEL 1;
COMP "SW<10>" LOCATE = SITE "AB2" LEVEL 1;
COMP "SW<11>" LOCATE = SITE "AB1" LEVEL 1;
COMP "SW<12>" LOCATE = SITE "Y2" LEVEL 1;
COMP "SW<13>" LOCATE = SITE "V2" LEVEL 1;
COMP "SW<14>" LOCATE = SITE "AA1" LEVEL 1;
COMP "SW<15>" LOCATE = SITE "Y1" LEVEL 1;
COMP "SW<16>" LOCATE = SITE "W2" LEVEL 1;
COMP "SW<17>" LOCATE = SITE "W1" LEVEL 1;
COMP "SW<18>" LOCATE = SITE "U2" LEVEL 1;
COMP "SW<19>" LOCATE = SITE "U1" LEVEL 1;
COMP "SW<20>" LOCATE = SITE "T1" LEVEL 1;
COMP "SW<21>" LOCATE = SITE "Y7" LEVEL 1;
COMP "SW<22>" LOCATE = SITE "Y8" LEVEL 1;
COMP "SW<23>" LOCATE = SITE "W7" LEVEL 1;
COMP "SW<24>" LOCATE = SITE "Y6" LEVEL 1;
COMP "SW<25>" LOCATE = SITE "Y4" LEVEL 1;
COMP "SW<26>" LOCATE = SITE "W4" LEVEL 1;
COMP "SW<27>" LOCATE = SITE "V4" LEVEL 1;
COMP "SW<28>" LOCATE = SITE "V3" LEVEL 1;
COMP "SW<29>" LOCATE = SITE "T4" LEVEL 1;
COMP "SW<0>" LOCATE = SITE "AB8" LEVEL 1;
COMP "SW<1>" LOCATE = SITE "AB7" LEVEL 1;
COMP "SW<2>" LOCATE = SITE "U7" LEVEL 1;
COMP "SW<3>" LOCATE = SITE "R6" LEVEL 1;
COMP "SW<4>" LOCATE = SITE "T6" LEVEL 1;
COMP "SW<30>" LOCATE = SITE "U3" LEVEL 1;
COMP "SW<5>" LOCATE = SITE "R3" LEVEL 1;
COMP "SW<31>" LOCATE = SITE "T3" LEVEL 1;
COMP "SW<6>" LOCATE = SITE "R2" LEVEL 1;
COMP "SW<7>" LOCATE = SITE "AA6" LEVEL 1;
COMP "SW<8>" LOCATE = SITE "AB5" LEVEL 1;
COMP "SW<9>" LOCATE = SITE "AB3" LEVEL 1;
COMP "enable" LOCATE = SITE "L21" LEVEL 1;
SCHEMATIC END;

